/**
 * Custom CSS
 * This is the very last piece of CSS loaded, so if something looks weird,
 * try removing your custom CSS from the theme settings page.
 */

/* stylelint-disable */
/* Disabling as setting custom styles. */

/* Page / general stuff */
.container-fluid {
    max-width: 1280px;
}
#page #page-content #region-main,
#page #page-content div[role=main],
.pagelayout-redirect #page-content #region-main,
.pagelayout-redirect #page-content div[role=main] {
    border: none;
    margin: 0;
    padding: 0;
}
body a.back-to-top .fa-angle-up {
    color: #fff;
}
body a.back-to-top .fa-angle-up:hover {
    color: #555;
}
body.has_dock #dock {
    background-color: #676767;
}
body#page-admin-setting-theme_essential_styleguide,
body#page-admin-search {
    position: inherit;
}
h1, h2, h3 {
    line-height: normal;
}

/* Preferences */
.preferences-groups a .fa {
    margin: 3px;
}

/* Button text colour overrides */
input.btn, input.btn-link, input.btn-link:visited {
    color: #282828 !important;
}
a.btn-primary, a.btn-danger, a.btn-info, a.btn-success, a.btn-warning {
    color: #fff !important;
}

/* Button group background colour overrides */
#page form .form-buttons #fgroup_id_buttonar,
#page form table#form td.submit #fgroup_id_buttonar,
#page form .path-admin .buttons #fgroup_id_buttonar,
#page form #fitem_id_submitbutton #fgroup_id_buttonar,
#page form .fp-content-center form + div #fgroup_id_buttonar,
#page form div.backup-section + form #fgroup_id_buttonar,
#page form #fgroup_id_buttonar #fgroup_id_buttonar,
#page form fieldset:last-of-type.hidden #fgroup_id_buttonar,
#page form .form-buttons,
#region-main form .form-buttons,
#page form #fgroup_id_buttonar,
#region-main form #fgroup_id_buttonar,
#page form #fitem_id_submitbutton {
    background-color: #f5f5f5;
    border-top: 1px solid #e3e3e3;
    width: inherit;
}

/* Button text shadow overrides */
body button:hover,
body .btn-default:hover,
body a.btn-default:hover,
body button.btn-cancel:hover,
body input.form-submit:hover,
body input[type="button"]:hover,
body input[type="submit"]:hover,
body input[type="reset"]:hover,
body #notice .singlebutton + .singlebutton input:hover,
body .submit.buttons input[name=cancel]:hover,
body button:focus,
body .btn-default:focus,
body a.btn-default:focus,
body button.btn-cancel:focus,
body input.form-submit:focus,
body input[type="button"]:focus,
body input[type="submit"]:focus,
body input[type="reset"]:focus,
body #notice .singlebutton + .singlebutton input:focus,
body .submit.buttons input[name=cancel]:focus,
body button:active,
body .btn-default:active,
body a.btn-default:active,
body button.btn-cancel:active,
body input.form-submit:active,
body input[type="button"]:active,
body input[type="submit"]:active,
body input[type="reset"]:active,
body #notice .singlebutton + .singlebutton input:active,
body .submit.buttons input[name=cancel]:active,
body button.active,
body .btn-default.active,
body a.btn-default.active,
body button.btn-cancel.active,
body input.form-submit.active,
body input[type="button"].active,
body input[type="submit"].active,
body input[type="reset"].active,
body #notice .singlebutton + .singlebutton input.active,
body .submit.buttons input[name=cancel].active,
body button.disabled,
body .btn-default.disabled,
body a.btn-default.disabled,
body button.btn-cancel.disabled,
body input.form-submit.disabled,
body input[type="button"].disabled,
body input[type="submit"].disabled,
body input[type="reset"].disabled,
body #notice .singlebutton + .singlebutton input.disabled,
body .submit.buttons input[name=cancel].disabled,
body button[disabled],
body .btn-default[disabled],
body a.btn-default[disabled],
body button.btn-cancel[disabled],
body input.form-submit[disabled],
body input[type="button"][disabled],
body input[type="submit"][disabled],
body input[type="reset"][disabled],
body #notice .singlebutton + .singlebutton input[disabled],
body .submit.buttons input[name=cancel][disabled] {
    text-shadow: none;
}

/* Editing region thick dashed border overrides */
.editing.used-region-footer-left #block-region-footer-left,
.editing.used-region-footer-middle #block-region-footer-middle,
.editing.used-region-footer-right #block-region-footer-right,
.editing.used-region-hidden-dock #block-region-hidden-dock,
.editing.used-region-home-left #block-region-home-left,
.editing.used-region-home-middle #block-region-home-middle,
.editing.used-region-home-right #block-region-home-right,
.editing.used-region-side-post #block-region-side-post,
.editing.used-region-side-pre #block-region-side-pre {
    border: none;
}

/* Alternate table row link/icon colouring overrides */
table a:not(.btn):not(.menu-action),
table a:not(.btn):not(.menu-action) {
    color: #b5121b;
}
table .fa:not(.btn):not(.menu-action),
table .fa:not(.btn):not(.menu-action) {
    color: #888888 !important;
}
table a:not(.btn):not(.menu-action):hover,
table a:not(.btn):not(.menu-action):focus,
table .fa:not(.btn):not(.menu-action):hover,
table .fa:not(.btn):not(.menu-action):focus {
    color: #555555 !important;
}

/* Header */
#page-header .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width: 767px) {
    #page-header .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }
}
#page-header.logo a[data-target="#essentialicons"],
#page-header.logo #mobileapps,
#page-header.logo #socialnetworks {
    display: none;
}
#essentialnavbar {
    position: absolute;
}
#essentialnavbar .navbar {
    position: inherit;
}
@media (max-width: 979px) {
    .container-fluid.navbar-inner {
        padding: 0;
    }
}
.navbar .navbar-inner #custom_menu li a {
    font-family: EffraLight;
    font-weight: bold;
}
@media (min-width: 980px) {
    .navbar .navbar-inner #custom_menu li a {
        font-size: 1.4em;
    }
}
.navbar .navbar-inner #custom_menu_week_name {
    display: inline;
    vertical-align: top;
}
.navbar .navbar-inner .dropdown .dropdown-menu {
    margin-top: 0 !important;
}
.navbar .navbar-inner .dropdown .dropdown-menu .fa {
    color: #888;
}
.navbar .navbar-inner .dropdown .dropdown-menu a:first-of-type > .icon {
    margin-left: 0;
}
.navbar .navbar-inner #custom_menu_activitystream .dropdown-menu,
.navbar .navbar-inner #custom_menu_courses .dropdown-menu,
.navbar .navbar-inner #custom_menu_language .dropdown-menu {
    overflow-y: inherit;
    max-height: inherit;
}
@media (max-width: 479px) {
    .navbar .navbar-inner #custom_menu_activitystream .dropdown-menu,
    .navbar .navbar-inner #custom_menu_courses .dropdown-menu,
    .navbar .navbar-inner #custom_menu_language .dropdown-menu {
        max-width: 160px;
    }
    .navbar .navbar-inner #custom_menu_activitystream .dropdown-menu li a,
    .navbar .navbar-inner #custom_menu_courses .dropdown-menu li a,
    .navbar .navbar-inner #custom_menu_language .dropdown-menu li a {
        white-space: normal;
    }
}
.navbar .navbar-inner .messagemenu,
.navbar .navbar-inner .gotobottommenu {
    display: none !important;
}
.navbar .navbar-inner .nav>li>a span.fa {
    margin-right: 5px;
}
.navbar .navbar-inner #custom_menu_week_name .nav>li>a span.fa {
    margin-right: 0;
}
.navbar .navbar-inner #custom_menu_week_name .nav>li>a span.nav-title {
    margin-left: 5px;
}
.navbar .navbar-inner .usermenu .nav .dropdown img.userpicture {
    margin-right: 3px;
}
@media (max-width: 1199px) {
    .navbar .navbar-inner .nav>li>a span.fa {
        margin-right: 0;
    }
    .navbar .navbar-inner .nav>li>a span.nav-title {
        display: none;
    }
}
@media (max-width: 979px) {
    .navbar .navbar-inner .nav-collapse {
        margin: 0;
        border: none;
    }
    .navbar .navbar-inner .nav-collapse>div {
        width: 100%;
    }
    .navbar .navbar-inner .nav-collapse .nav>li {
        float: inherit;
    }
    .navbar .navbar-inner .nav-collapse .nav>li.dropdown a:hover,
    .navbar .navbar-inner .nav-collapse .nav>li>a:hover,
    .navbar .navbar-inner .nav-collapse .nav>li.dropdown a:focus,
    .navbar .navbar-inner .nav-collapse .nav>li>a:focus {
        background-color: #e2e2e2;
    }
}
nav .coursesearchbox,
#page-header .coursesearchbox {
    text-align: left;
    white-space: nowrap;
}
#page-header .coursesearch {
    position: relative;
}
@media (max-width: 979px) {
    #page-header .coursesearch {
        display: none;
    }
}
#page-header .coursesearch form {
    position: absolute;
    top: 28px;
    right: 5px;
}
@media (max-width: 1199px) {
    #page-header .coursesearch form {
        top: 20px;
    }
}
nav[role=navigation] .coursesearch form label,
#page-header .coursesearch form label {
    display: block;
    font-size: 1em;
}
nav[role=navigation] .coursesearch form input[type="text"],
#page-header .coursesearch form input[type="text"] {
    width: 200px;
    height: 23px;
}
nav[role=navigation] .coursesearch form input[type="text"] {
    width: 160px;
}
nav[role=navigation] .coursesearch form input[type="submit"],
#page-header .coursesearch form input[type="submit"] {
    background: url([[pix:theme|search_grey]]) no-repeat;
    color: transparent;
    border: none;
    border-radius: 0;
    margin-left: -4px;
    width: 43px;
    height: 33px;
    text-shadow: none;
    box-shadow: none;
}
nav[role=navigation] .coursesearch form input[type="submit"] {
    background: url([[pix:theme|search]]) no-repeat;
}
@media (min-width: 980px) {
    .navbar .navbar-inner .nav-collapse .coursesearch {
        display: none;
    }
}
.navbar .navbar-inner .nav-collapse .coursesearch form {
    text-align: left !important;
    margin: 9px 15px !important;
}
.navbar .navbar-inner .nav-collapse .coursesearch form label {
    font-family: EffraLight;
    font-weight: bold;
    color: #fff;
}
.dir-ltr .breadcrumb-nav {
    width: auto;
}
.dir-ltr .breadcrumb-nav ul.breadcrumb {
    width: inherit !important;
}
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li {
    border-width: 0;
}
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li:hover,
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li:focus {
    background-color: #555;
    border-color: #555;
}
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li:hover::after,
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li:focus::after {
    border-left-color: #555;
}
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li:hover::before,
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li:focus::before {
    border-left-color: #fff;
}
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li span {
    margin-right: inherit;
}
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li:hover span,
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li:focus span,
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li:hover a,
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li:focus a,
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li:hover a::before,
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li:focus a::before {
    color: #fff;
}
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li .dimmed_text {
    color: #aaa;
}
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li:hover .dimmed_text,
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li:focus .dimmed_text,
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li:hover .dimmed_text span,
.dir-ltr .breadcrumb-nav ul.breadcrumb.style1 li:focus .dimmed_text span {
    color: #aaa;
}
.dir-ltr .breadcrumb-button input[type="submit"] {
    border: none;
}
.dir-ltr .breadcrumb-button input[type="submit"]:hover,
.dir-ltr .breadcrumb-button input[type="submit"]:focus {
    color: #fff;
    background-color: #555;
}

/* Footer */
#page-footer {
    background-color: #b5121b;
    font-size: 0.9em;
    position: relative;
    border-top: none;
    border-bottom: none;
    margin: 10px 0 0;
    padding-bottom: 60px;
}
#page-footer .footerlinks .helplink a {
    color: #fff !important;
}
#page-footer .footerlinks .helplink a:hover,
#page-footer .footerlinks .helplink a:focus {
    color: #bbb !important;
}
#page-footer .footerperformance {
    margin-top: 20px;
}
#page-footer .performanceinfo {
    color: #282828;
    background: #eee;
    width: 96%;
    margin: 5px auto;
}
#page-footer .purgecaches {
    margin: 10px 20px;
}
#page-footer .themecredit, .themecredit {
    display: none;
}
#page-footer .footerlinks .helplink a .fa-question-circle::before {
    margin: 0 5px;
}
.lancs-footer-list-div {
    display: inline-flex;
}
.lancs-footer-list-div dt, .lancs-footer-list-div dd {
    margin-left: 20px;
}
.lancs-footer-list-div dt {
    font-size: 1.2em;
    font-weight: normal;
}
.lancs-footer-list-1 {
    width: 28%;
}
.lancs-footer-list-1 .lancs-footer-list-item {
    font-size: 1.2em;
    line-height: 1.5em;
}
.lancs-footer-list-2 {
    width: 20%;
    border-left: 1px dotted #bbb;
}
.lancs-footer-list-3 {
    width: 24%;
}
.lancs-footer-list-6 {
    width: 24%;
    border-left: 1px dotted #bbb;
}
@media (max-width: 767px) {
    .lancs-footer-list-div {
        display: block;
        width: 100% !important;
        padding-left: 0 !important;
        border-left: none !important;
    }
}
.footnote #additional-footer {
    background-color: #282828;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 8px;
}
.footnote #additional-footer .additional-footer-lists-wrapper {
    width: 96%;
    max-width: 1280px;
    margin: 0 auto;
}
.footnote #additional-footer dl {
    margin: 12px 0 0;
}
.footnote #additional-footer dd.additional-footer-list-item {
    display: inline-flex;
    margin: 0 10px;
}

/* Blocks */
.block,
.block_docked {
    border-radius: 6px 6px 35px 6px;
    padding-left: 6px;
}
.block .header .title {
    padding-bottom: 3px;
}
.block .header .title h2 {
    vertical-align: top;
}
.block .header .title .fa {
    color: #888;
    margin-left: 2px;
}
.block .header .title .commands {
    padding: 4px 2px;
}
.block .header .title .commands .fa {
    font-size: inherit;
}
.block .header .title .commands .fa:hover,
.block .header .title .commands .fa:focus {
    color: #555;
}
.block .header .block_action {
    padding: 2px 6px;
}
.block_course_overview .coursebox {
    margin: 15px 0;
    padding: 5px;
}
.block_navigation {
    background-color: #676767;
}
.block_settings, .block_admin_bookmarks {
    background-color: #b5121b;
}
.block_navigation .header .title h2,
.block_settings .header .title h2,
.block_admin_bookmarks .header .title h2 {
    font-weight: bold;
    text-shadow: none;
}
.block_navigation .list,
.block_settings .list,
.block_admin_bookmarks .list {
    margin: 5px;
}
.block_navigation .block_tree ul,
.block_navigation .block_tree ul ul,
.block_settings .block_tree ul,
.block_settings .block_tree ul ul {
    margin: 0;
}
.block_navigation .block_tree li ul,
.block_settings .block_tree li ul {
    padding-left: 18px;
}
.block_navigation .block_tree .tree_item,
.block_navigation .block_tree .tree_item.branch,
.block_settings .block_tree .tree_item,
.block_settings .block_tree .tree_item.branch {
    padding-left: inherit !important;
}
.block_navigation .block_tree .tree_item.branch[aria-expanded="false"]::before,
.block_settings .block_tree .tree_item.branch[aria-expanded="false"]::before {
    content: "\f07b";
}
.block_navigation .block_tree .tree_item.branch[aria-expanded="true"]::before,
.block_settings .block_tree .tree_item.branch[aria-expanded="true"]::before {
    content: "\f07c";
}
.block_navigation .block_tree .tree_item.emptybranch[aria-expanded="false"]::before,
.block_settings .block_tree .tree_item.emptybranch[aria-expanded="false"]::before {
    content: "\f114";
}
.block_navigation .block_tree .tree_item.emptybranch[aria-expanded="true"]::before,
.block_settings .block_tree .tree_item.emptybranch[aria-expanded="true"]::before {
    content: "\f115";
}
.block_navigation .content p.tree_item.hasicon.activesetting,
.block_navigation .content p.tree_item.hasicon.activesetting .fa,
.block_navigation .content p.tree_item.hasicon.activesetting .fa:hover,
.block_navigation .content p.tree_item.hasicon.activesetting .fa:focus,
.block_settings .content p.tree_item.hasicon.activesetting,
.block_settings .content p.tree_item.hasicon.activesetting .fa,
.block_settings .content p.tree_item.hasicon.activesetting .fa:hover,
.block_settings .content p.tree_item.hasicon.activesetting .fa:focus {
    color: #bbb;
}
.block_navigation .header .title h2,
.block_navigation .header .title .fa::before,
.block_navigation .moodle-core-dragdrop-draghandle::before,
.block_navigation .menubar .icon,
.block_navigation .content h3.main,
.block_navigation .content a,
.block_navigation .content a:visited,
.block_navigation .content p.tree_item.branch,
.block_navigation .content p.tree_item.branch::before,
.block_navigation .content p.tree_item.hasicon a,
.block_navigation .content p.tree_item.hasicon a>.fa {
    color: #eee;
}
.block_navigation .content p.tree_item.branch .dimmed_text,
.block_navigation .content p.tree_item.hasicon .dimmed_text,
.block_navigation .content p.tree_item.hasicon .dimmed {
    color: #aaa;
}
.block_navigation .menubar .icon:hover::before,
.block_navigation .menubar .icon:focus::before,
.block_navigation .content a:hover,
.block_navigation .content a:focus,
.block_navigation .content p.tree_item.branch:hover,
.block_navigation .content p.tree_item.branch:focus,
.block_navigation .content p.tree_item.branch:hover::before,
.block_navigation .content p.tree_item.branch:focus::before,
.block_navigation .content p.tree_item.hasicon:hover a,
.block_navigation .content p.tree_item.hasicon:focus a,
.block_navigation .content p.tree_item.hasicon:hover a>.fa,
.block_navigation .content p.tree_item.hasicon:focus a>.fa {
    color: #bbb;
}
.block_settings .header .title h2,
.block_settings .header .title .fa::before,
.block_settings .moodle-core-dragdrop-draghandle::before,
.block_settings .menubar .icon,
.block_settings .content h3.main,
.block_settings .content a,
.block_settings .content a:visited,
.block_settings .content p.tree_item.branch,
.block_settings .content p.tree_item.branch::before,
.block_settings .content p.tree_item.hasicon a,
.block_settings .content p.tree_item.hasicon a>.fa {
    color: #eee;
}
.block_settings .menubar .icon:hover::before,
.block_settings .menubar .icon:focus::before,
.block_settings .content a:hover,
.block_settings .content a:focus,
.block_settings .content p.tree_item.branch:hover,
.block_settings .content p.tree_item.branch:focus,
.block_settings .content p.tree_item.branch:hover::before,
.block_settings .content p.tree_item.branch:focus::before,
.block_settings .content p.tree_item.hasicon:hover a,
.block_settings .content p.tree_item.hasicon:focus a,
.block_settings .content p.tree_item.hasicon:hover a>.fa,
.block_settings .content p.tree_item.hasicon:focus a>.fa {
    color: #bbb;
}
.block_admin_bookmarks .header .title h2,
.block_admin_bookmarks .header .title .fa::before,
.block_admin_bookmarks .moodle-core-dragdrop-draghandle::before,
.block_admin_bookmarks .menubar .icon,
.block_admin_bookmarks .content h3.main,
.block_admin_bookmarks .content a,
.block_admin_bookmarks .content a:visited {
    color: #eee;
}
.block_admin_bookmarks .menubar .icon:hover::before,
.block_admin_bookmarks .menubar .icon:focus::before,
.block_admin_bookmarks .content a:hover,
.block_admin_bookmarks .content a:focus {
    color: #bbb;
}
.block_settings .content .type_siteadmin p.tree_item.hasicon a i.fa-cog,
.block_settings .content .type_siteadmin p.tree_item.hasicon a i.fa-cogs,
.block_settings .content .type_siteadmin p.tree_item.hasicon a img {
    display: none;
}
.block_settings .content .type_siteadmin p.tree_item.hasicon a::before {
    font-family: FontAwesome;
    content: "\f085";
    color: #eee;
    margin-right: 5px;
}
.block_settings .content .type_siteadmin p.tree_item.hasicon:hover a::before,
.block_settings .content .type_siteadmin p.tree_item.hasicon:focus a::before {
    color: #bbb;
}
.block .moodle-actionmenu[data-enhanced].show {
    white-space: inherit;
}
.jsenabled .block .block_tree .tree_item.branch.loading {
    position: relative;
    margin-left: 18px;
}
.jsenabled .block .block_tree .tree_item.branch.loading::before {
    position: absolute;
    left: -18px;
    content: "\f110";
    -moz-animation: fa-spin 1s infinite steps(8);
    -webkit-animation: fa-spin 1s infinite steps(8);
    -o-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}

/* Course */
body .course-content ul li.section.main {
    border: 1px solid #e3e3e3;
    border-radius: 6px 6px 35px 6px !important;
    background: none;
    margin: 5px 0 20px;
    padding: 10px 0 5px;
}
body .course-content ul li.section.main.hidden {
    background: url([[pix:theme|bg/hidden-bg]]);
}
.course-content ul li.section .content>div,
.course-content ul li.section .section-modchooser {
    margin: auto 20px;
}
.course-content ul li.section.hidden .content>div {
    margin-left: 25px;
}
.course-content ul li.section.hidden .activity .activityinstance {
    margin-left: auto;
}
.activity img.activityicon {
    vertical-align: middle;
}
.path-course-view .completionprogress {
    float: none;
}
.bor {
    display: none;
}
.content .availabilityinfo {
    background-color: #FCF8E3;
    border: solid 1px #FBEED5;
    border-radius: 4px;
    moz-border-radius: 4px;
    ms-border-radius: 4px;
    webkit-border-radius: 4px;
    color: #C09853;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px;
}

/* Grading page */
.path-mod-assign [data-region=grading-navigation-panel] {
    padding: 12px;
    height: 58px;
}
.path-mod-assign [data-region=review-panel],
.path-mod-assign [data-region=grade-panel] {
    top: 84px;
}
.path-mod-assign [data-region=review-panel] .assignfeedback_editpdf_widget .pageheader button img {
    padding-right: 0;
}

/* Fix expand/collapse icon for submission comments */
.comment-link[aria-expanded=true] > .fa-plus-square::before {
    content: "\f146";
}

/* Fix calendar block spacing */
.block .minicalendar {
    margin-bottom: 8px;
}

/* Fix RSS block spacing and borders */
.block_rss_client .content {
    padding: 4px 0;
}
.block_rss_client .content li {
    margin: 5px 0;
}
.block_rss_client .list li, .block_rss_client .list li:first-child {
    border-top: 1px dotted #E1E1E1;
}

/* Fix alignment of admin setting defaults */
.form-item .form-setting .form-defaultinfo,
.form-item .form-setting .form-password .unmask {
    display: inline-block;
}

/* Fix checkbox right margin */
.dir-ltr input[type="checkbox"] {
    margin-right: 5px;
}

/* Fix clipping of large text in labels */
.section .activity.modtype_label.label {
    line-height: normal;
}

/* Fix for groups/members boxes overlapping */
#groupeditform .groups select, #groupeditform .members select {
    max-width: 98%;
}

/* Fix for missing drag and drop upload message */
#dndupload-status {
    display: inherit;
    z-index: 999;
    top: 50px;
}

/* Fix spacing and alignment in forum posts */
.forumpost {
    padding: 2px 5px;
}
.forumpost .subject {
    margin-bottom: -2px;
}
.forumpost .picture img.userpicture {
    margin-left: 2px;
}
.forumpost .content .posting.fullpost {
    margin-top: auto;
}

/* Grading table edit menu fix */
.moodle-actionmenu[data-enhanced].show .menu.align-tl-bl {
    top: -36px;
}

/* Interactive transcript link */
#page-mod-assign-view .feedbacktable .alert-error a {
    color: #555;
}
#page-mod-assign-view .feedbacktable .alert-error a:hover,
#page-mod-assign-view .feedbacktable .alert-error a:focus {
    text-decoration: underline;
}

/* Fix activity chooser layout */
.choosercontainer #chooserform span:first-of-type > .icon {
    margin: 0;
}

/* Fix user profile header button icons */
.userprofile .header-button-group span:first-of-type > .icon {
    margin-left: 0;
    margin-right: 0.5rem;
    vertical-align: inherit;
}

/* Hide block region names */
.editing .block-region .regionname {
    display: none;
}

/* mod_book */
#page-mod-book-view #page #page-content #region-main {
    border: 1px solid #d3d3d3;
    padding: 20px;
}

/* mod_feedback */
.path-mod-feedback .mform.feedback_form .femptylabel .felement {
    width: 100%;
}

/* mod_questionnaire */
#page-mod-questionnaire-complete td.notanswered,
#page-mod-questionnaire-preview td.notanswered {
    visibility: hidden;
}
#page-mod-questionnaire-preview .heading-rts {
    display: none;
}

/* block_navbuttons */
div#navbuttons a img {
    background-color: #bbb !important;
    max-width: 36px;
    max-height: 36px;
}
div#navbuttons a img:hover,
div#navbuttons a img:focus {
    background-color: #999 !important;
}

/* local_fullscreen fixes */
#page-site-index #region-main div#fullscreen.fullscreen {
    display: none;
}
#region-main div#fullscreen.fullscreen {
    z-index: 2;
}
div#fullscreenfloat.fullscreen {
    top: auto;
}

/* Initial bar fixes */
.initialbar .letter {
    color: #b5121b;
}
.initialbar .letter:hover,
.initialbar .letter.active {
    background-color: #b5121b;
}

/* Additional course format rules (from Stephen) */
body .course-content ul.ctopics li.section,
body .course-content ul.weeks li.csection {
    border: none;
}
.course-content ul.ctopics.topics li.section.main .content {
    border: 1px solid #e3e3e3;
    border-radius: 6px 6px 35px 6px;

}
.course-content ul.ctopics.topics li.section.main.current .content {
    background: none;
}
.course-content ul.ctopics.topics li.section.main.current .sectionhead,
.course-content ul.ctopics.topics li.section.main.current .sectionhead a:hover {
    background-color: #b5121b;
    border-radius: 6px 6px 35px 6px;
}
.course-content ul.ctopics.topics li.section.main.hidden .content {
    background: url([[pix:theme|bg/hidden-bg]]);
}
.course-content ul.ctopics.topics li.section.main .content .sectionbody {
    padding: 20px;
}
.course-content ul.ctopics li.tcsection {
    margin: 0 1px 10px 1px;
}
.course-content ul.ctopics li.section.main {
    background: none;
}
.course-content ul.ctopics li.section.main#section-0 {
    border: 1px solid #e3e3e3;
    border-radius: 6px 6px 35px 6px;
    margin-bottom: 5px;
}
.course-content ul.ctopics li.section.main.current {
    box-shadow: none;
    border: none;
}
.course-content ul.ctopics li.section.main.hidden {
    background: none;
}
.course-content ul.ctopics li.section .sectionhead.toggle-arrow a {
    margin-right: 10px;
}
.course-content ul.ctopics li.section .content .toggle {
    margin: 0;
}
.course-content ul.gridicons li p.icon_content {
    margin-bottom: 5px;
}
.course-content ul.gtopics-0 #section-0 {
    border: 1px solid #e3e3e3;
    border-radius: 6px 6px 35px 6px;
    margin-bottom: 20px;
    padding: 20px;

}
div#gridshadebox_overlay {
    z-index: 200;
    cursor: pointer;
}
#gridshadebox_content.absolute {
    z-index: 250;
    top: 75px !important;
}
#gridshadebox_content {
    border: none;
    background: none;
}
#gridshadebox_content .content {
    border: 1px solid #e3e3e3;
    border-radius: 6px 6px 35px 6px;
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
#gridshadebox_content li.section.main.hidden .content {
    background: url([[pix:theme|bg/hidden-bg]]);
}
#gridshadebox_content .sectionname {
    background-color: #676767;
    border-radius: 6px 6px 6px 6px;
    color: white;
    margin: 0;
    padding: 10px;
}
#gridshadebox_content li.section.main.hidden .sectionname {
    opacity: 1;
    color: #e3e3e3;
}
#gridshadebox_content li.current .sectionname {
    background-color: #b5121b;
    border-radius: 6px 6px 6px 6px;
}
#gridshadebox_content .summary {
    padding: 10px;
    z-index: 250;
    top: 75px !important;
}
#gridshadebox_close {
    right: 0 !important;
}
.gridshadebox_left_area, .gridshadebox_right_area {
    cursor: pointer;
}
#gridshadebox_content .activity {
    border-bottom: none;
}
.course-content ul li.section.main {
    background: none;
    background-color: white;
}
.course-content ul.gtopics h3.sectionname {
    border-bottom: none;
}
.course-content ul.gtopics li.section.current {
    box-shadow: none;
    border: none;
}
.course-content ul.gtopics li.section .section-modchooser-link a {
    margin-right: 20px;
}
#gridiconcontainer ul.gridicons {
    margin-bottom: 30px;
}
.course-content ul.gtopics li.section .left {
    margin-top: 20px;
}
.course-content ul.gtopics li.section.main.hidden .content {
    background: url([[pix:theme|bg/hidden-bg]]);
}
.course-content ul.gtopics li.section.main.hidden .content .sectioname {
    opacity: 1;
    color: #e3e3e3;
}

[[setting:fontfilesheading]]

[[setting:fontfilesbody]]

[[setting:headerbackground]]

[[setting:categorycoursetitle]]

[[setting:customcss]]
/* stylelint-enable */
